<div class="panel panel-default">

	<div class="panel-body">
		<a href="#" (click)="onSelect(project)">{{ project.name }}</a>
	</div>

	<div class="panel-footer">
		<div *ngIf="edit">
			<input type="text" [(ngModel)]="editValue">
			<a class="btn btn-info" href="#" (click)="onUpdate()">Сохранить</a>
			<a class="btn btn-primary" href="#" (click)="onCancel()">Назад</a>
		</div>
		<div *ngIf="!edit">
			<a class="btn btn-primary" href="#" (click)="onEdit()">Редактировать</a>
			<a class="btn btn-danger" href="#" (click)="onDelete()">Удалить</a>
			<a class="btn btn-default" href="#" (click)="onAddUser()">Добавить пользователя</a>
		</div>
	</div>

</div>