<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<ol class="breadcrumb">
			  <li><a href="#">Проекты</a></li>
			</ol>

			<div class="panel panel-primary" *ngIf="list">
			  <div class="panel-heading">
			    <h3 class="panel-title">Добавить
			    	<a href="#" (click)="onCreate()">
			    		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			    	</a>
			    </h3>
			  </div>

			  <div class="panel-body">
			    <app-project *ngFor="let project of projects" [project]="project" (projectDelete)="onDelete($event)"></app-project>
			  </div>
			</div>

			<div class="panel panel-primary" *ngIf="create">
			  <div class="panel-body">
					<form #f="ngForm" (ngSubmit)="onSubmit(f)">
						<div class="form-group">
						  <label for="name">Введите название:</label>
						  <input type="text" class="form-control" id="name" name="name" ngModel>
						</div>
						<button class="btn btn-info" type="submit">Создать</button>
						<button class="btn btn-default" (click)="onCancel()">Назад</button>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>