<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<ol class="breadcrumb">
			  <li><a href="#" [routerLink]="['/']">Проекты</a></li>
			  <li class="active">{{ id }}</li>
			</ol>

			<div class="panel panel-primary" *ngIf="list">
			  <div class="panel-heading">
			    <h3 class="panel-title">Встречи
			    	<a href="#">
			    		<span (click)="meetingCreate()" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			    	</a>
			    </h3>
			  </div>
				<table class="table table-hover">
			        <thead>
			            <tr>
			                <th>Дата</th>
			                <th>Встреча</th>
			                <th>Статус</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td>12.10.2016</td>
			                <td><a href="#">Перейти</a></td>
			                <td>Назначена</td>
			            </tr>
			            <tr>
			                <td>22.09.2016</td>
			                <td><a href="#">Перейти</a></td>
			                <td>Закончена</td>
			            </tr>
			            <tr>
			                <td>14.09.2016</td>
			                <td><a href="#">Перейти</a></td>
			                <td>Закончена</td>
			            </tr>
			        </tbody>
			    </table>
			</div>


			<div class="panel panel-primary" *ngIf="create">
			  <div class="panel-body">
					<form>
						<div class="form-group">
						  <label for="usr">Введите дату:</label>
						  <input type="date" class="form-control" id="usr">
						</div>
						<button class="btn btn-default" type="submit">Создать</button>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>